{
  "android": {
    "keystore": {
      "keystorePath": "android/keystores/playstore-upload.jks",
      "keystorePassword": "YOUR_KEYSTORE_PASSWORD",
      "keyAlias": "YOUR_KEY_ALIAS",
      "keyPassword": "YOUR_KEY_PASSWORD"
    }
  }
}
